@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Post>

@if (TempData.ContainsKey("status"))
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Messages</strong>@TempData["status"].
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

@if (Model != null && Model.Count() > 0)
{
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="card col-4" style="width: 18rem;">
				<img src="@item.ImageUrl" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@item.Title</h5>
					<p class="card-text">@item.Content</p>
					<span>@item.Date</span>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
			</div>
		}
	</div>

}
